<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="text-center">
        <h1 [hidden]="isCross" class="uppercase text-danger">
          Player One Turn
        </h1>
        <h1 [hidden]="!isCross" class="uppercase text-danger">
          Player Two Turn
        </h1>
      </div>

      <div class="grid">
        <div *ngFor="let item of itemArray; index as i">
          <div class="card">
            <div class="card-box box" (click)="handleClick(i)">
              <app-icon [iconName]="item"></app-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 text-center text-uppercase">
      <div class="mt-4">
        <h1 *ngIf="winMessage">Game Over {{ winMessage }}</h1>
        <button (click)="handleResetGame()" class="btn btn-danger pl-5 pr-2">
          Reset
        </button>
      </div>
    </div>
  </div>
</div>
